$greyTextColor: #91949D;
$orangeColor: #F9B857;
$greenСolor: #5DDB1C;
$whiteColor: #FFFFFF;
$footerTextColor: #48494B;
$bgColor: #1B1C20;
$gradient: linear-gradient(180deg, #BCB046 0%, #1B2E8E 46.88%, #CC29E7 100%);

$durationTiming: 250ms cubic-bezier(0.4, 0, 0.2, 1);
