<header class="header">
  <div class="container">
    <a class="logo__header" href="./index.html">
      <picture class="logo__header--pic">
        <source
          srcset="
            ./images/header/logo-header-desk.png    1x,
            ./images/header/logo-header-desk-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/header/logo-header-mob.png    1x,
            ./images/header/logo-header-mob-2x.png 2x
          "
          media="(max-width: 1199px)"
        />

        <img
          src="./images/header/logo-header-desk.png"
          alt="logo BCGame"
          width="248"
          height="57"
        />
      </picture>
    </a>
  </div>
</header>
