<div class="wrapper">
   <section class="hero parallax">
      <div class="parallax__body">
         <div class="parallax__images images-parallax">
            <div class="images-parallax__item">
               <div class="images-parallax__bg-img"></div>
            </div>
            <div class="images-parallax__item">
               <div class="images-parallax__player1"></div>
            </div>
            <div class="images-parallax__item">
               <div class="images-parallax__players2"></div>
            </div>
            <div class="images-parallax__item">
               <div class="images-parallax__coins"></div>
            </div>
         </div>
      </div>
   </section>
</div>
