<section class="steps">
   <div class="container">
      <h2 class="visually-hidden">Steps</h2>

      <ul class="steps__list">
         <li class="steps__list--item">
            <p class="text-step">Sign up</p>
            <p class="text-about">Join BC.Game</p>
         </li>
         <li class="steps__list--item"></li>
         <li class="steps__list--item">
            <p class="text-step">Deposit</p>
            <p class="text-about">With Apple Pay, VISA, Mastercard or Crypto</p>
         </li>
         <li class="steps__list--item"></li>
         <li class="steps__list--item">
            <p class="text-step">Reward</p>
            <p class="text-about">Get bonuses & have fun!</p>
         </li>
      </ul>
      <div class="ellipse"></div>
      <a
         class="btn-hero end"
         href="https://bc.game/uk/sports"
         target="_blank"
         rel="noopener nofollow noreferrer"
      >
         <span class="join">Join</span><span>now!</span>
      </a>
   </div>
</section>
