.header {
   height: 61px;
   display: flex;
   align-items: flex-end;

   @include desktop {
      height: 121px;
   }
}

.logo__header {
   display: block;
   max-width: 190px;
   height: 44px;

   @include desktop {
      display: inline-block;
      max-width: 248px;
      height: 57px;
      margin-right: 721px;
   }
}

.logo__header--pic {
   max-width: 190px;
   height: 44px;

   @include desktop {
      max-width: 248px;
      height: 57px;
   }
}
