.header {
	// position: absolute;
  display: flex;
  justify-content: center;
  text-align: end;
  margin-left: auto;
  margin-right: auto;
  height: 61px;
  @include desktop {
    display: none;
  }
}

.logo__header--pic {
  margin-top: 17px;

  width: 190px;
  height: 44px;
}
