.wrapper {
   position: relative;
   min-height: 100%;
}

.parallax {
	   @include tablet {
   min-height: 100vh;
   }

}

.parallax__body {
   position: absolute;
   width: 99%;
   height: 100%;
   transform: translate(-10px, -60px);

   @include desktop {
      transform: translate(-10px, 0px);
   }
}

.parallax__images {
   position: absolute;
   width: 120%;
   height: 120%;
   top: -10%;
   left: -10%;
   z-index: 1;
}

.images-parallax__item {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.images-parallax__bg-img,
.images-parallax__player1,
.images-parallax__players2,
.images-parallax__coins {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
}

.images-parallax__bg-img {
      margin: 0 auto;
      top: 55px;
      height: 393px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/hero/bg-img-mob.jpg);
      @include retina {
         background-image: url(../images/hero/bg-img-mob-2x.jpg);
      }

   @include tablet {
		      top: 128px;
      background-image: url(../images/hero/bg-img-tab.jpg);
      @include retina {
         background-image: url(../images/hero/bg-img-tab-2x.jpg);
      }
   }

   @include desktop {
      top: 94px;
      height: 582px;
      background-size: cover;
      background-image: url(../images/hero/bg-img-desk.jpg);
      @include retina {
         background-image: url(../images/hero/bg-img-desk-2x.jpg);
      }
   }
}

.images-parallax__player1 {
   top: 122px;
   left: 12px;
   height: 309px;

   z-index: 4;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../images/hero/player1.png);
   @include retina {
      background-image: url(../images/hero/player1-2x.png);
   }

	   @include tablet {
      top: 176px;
      left: 12px;
   }

   @include desktop {
      top: 168px;
      left: 246px;
      height: 481px;
   }
}

.images-parallax__players2 {
   background-repeat: no-repeat;
   background-position: center;
      margin: 0 auto;
      top: 70px;
      left: 0px;
      height: 319px;
      z-index: 2;

      background-image: url(../images/hero/players2-mob.png);
      @include retina {
         background-image: url(../images/hero/players2-mob-2x.png);
      }

   @include tablet {
      margin: 0 auto;
      top: 126px;
      left: 116px;
      height: 319px;
      z-index: 2;

      background-image: url(../images/hero/players2-tab.png);
      @include retina {
         background-image: url(../images/hero/players2-tab-2x.png);
      }
   }

   @include desktop {
      height: 498px;
      top: 82px;
      left: 382px;
      background-image: url(../images/hero/players2-desk.png);
      @include retina {
         background-image: url(../images/hero/players2-desk-2x.png);
      }
   }
}

.images-parallax__coins {
   @include desktop {
      height: 403px;
      top: 72px;
      left: 550px;
      z-index: 3;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/hero/coins-desk.png);
      @include retina {
         background-image: url(../images/hero/coins-desk-2x.png);
      }
   }
}
