// .wrapper {
//    position: relative;
//    min-height: 100%;
// }

.parallax {
   position: relative;
   top: -395px;
}

// .parallax__body {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    transform: translate(-10px, -60px);

//    @include desktop {
//       transform: translate(-10px, 0px);
//    }
// }

.parallax__images {
   position: absolute;
   width: 120%;
   height: 120%;
   top: -10%;
   left: -10%;
   z-index: 1;
}

.images-parallax__item {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.images-parallax__player1,
.images-parallax__players2,
.images-parallax__coins {
   position: absolute;
   width: 100%;
   // height: 100%;
   left: 0;
}

.images-parallax__bg-img {
   position: relative;
   top: -5px;
   z-index: -1;
   margin-left: auto;
   margin-right: auto;
   max-width: 1137px;
   height: 393px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(../images/hero/bg-img-mob.jpg);
   @include retina {
      background-image: url(../images/hero/bg-img-mob-2x.jpg);
   }

   @include desktop {
      top: -116px;
      max-width: 1689px;
      height: 562px;
      background-image: url(../images/hero/bg-img-desk.jpg);
      @include retina {
         background-image: url(../images/hero/bg-img-desk-2x.jpg);
      }
   }
}

.images-parallax__player1 {
   position: relative;
   top: -340px;
   left: -6px;
   max-width: 215px;
   height: 393px;
   margin-left: auto;
   margin-right: auto;
   height: 309px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(../images/hero/player1-mob.png);
   @include retina {
      background-image: url(../images/hero/player1-mob-2x.png);
   }

   @include desktop {
      top: -704px;
      left: 248px;
      max-width: 335px;
      height: 481px;
   }
}

.images-parallax__players2 {
   position: relative;
   top: -2px;
   max-width: 1137px;
   height: 393px;
   margin-left: auto;
   margin-right: auto;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../images/hero/players2-mob.png);
   @include retina {
      background-image: url(../images/hero/players2-mob-2x.png);
   }

   @include desktop {
      top: -289px;
      left: 112px;
      max-width: 2201px;
      height: 498px;
      background-image: url(../images/hero/players2-desk.png);
      @include retina {
         background-image: url(../images/hero/players2-desk-2x.png);
      }
   }
}

.images-parallax__coins {
   @include desktop {
      position: relative;
      top: -1310px;
      left: -5px;
      z-index: 1;

      height: 464px;
      max-width: 2201px;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/hero/coins-desk.png);
      @include retina {
         background-image: url(../images/hero/coins-desk-2x.png);
      }
   }
}
