.hero__info {
   margin-right: auto;
   margin-left: auto;
   margin-top: -880px;
   width: 358px;
   height: 183px;
   border-radius: 30px;
   background: linear-gradient(285.4deg, #2e001d 12.47%, #240b59 93.42%);
   filter: drop-shadow(-2px 8px 12px rgba(0, 0, 0, 0.2));

   @include desktop {
      width: 540px;
      height: 298px;
      margin-top: -1255px;
      margin-left: -13px;
   }
}

.hero__info-bg {
   position: absolute;
   height: 184px;
   width: 358px;
   overflow: hidden;
   border-radius: 30px;
   background-size: contain;
   background-image: url(../images/free-spin/deposit-bonus-bg-mob.png);
   @include retina {
      background-image: url(../images/free-spin/deposit-bonus-bg-mob-2x.png);
   }

   @include desktop {
      width: 540px;
      height: 300px;
      background-image: url(../images/free-spin/deposit-bonus-bg-desk.png);
      @include retina {
         background-image: url(../images/free-spin/deposit-bonus-bg-desk-2x.png);
      }
   }
}

.hero__info-text {
   position: relative;
   z-index: 1;

   display: flex;
   justify-content: space-between;
   padding: 17px 40px;

   @include desktop {
      padding: 32px 50px;
   }
}

.hero__info-list {
   color: $greenСolor;

   &.orange {
      color: $orangeColor;
      font-weight: 800;
      font-size: 26px;
      line-height: 1.23;

      @include desktop {
         font-size: 36px;
      }
   }
}

.hero__info-item {
   text-transform: uppercase;
   font-size: 20px;
   line-height: 1.5;

   @include desktop {
      font-size: 28px;
      line-height: 1.64;
   }

   &.white {
      color: $whiteColor;
   }
}

.btn-hero {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 14px;
   margin-left: 30px;
   width: 173px;
   height: 43px;
   border-radius: 80px;
   border: none;
   background-color: $greenСolor;
   background-image: conic-gradient(from 1turn, #bafa04, $greenСolor 33%);

   color: $whiteColor;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.2;
   text-transform: uppercase;

   @include desktop {
      margin-top: 20px;
      margin-left: 50px;
      width: 260px;
      height: 70px;
      font-size: 30px;
      line-height: 1.23;
   }
}

.join {
   margin-right: 10px;
   margin-left: 12px;
   @include desktop {
      margin-left: 0px;
   }
}

.spin {
   position: absolute;
   top: 150%;
   left: 67%;
   width: 207px;
   animation: spin 6s linear 0ms infinite normal none;
   @keyframes spin {
      0% {
         transform: translateY(-100%) rotate(0deg);
      }
      100% {
         transform: translateY(-100%) rotate(360deg);
      }
   }

   @include desktop {
      width: 319px;
   }
}

.hero__info-coin {
   position: absolute;
   height: 36px;
   width: 36px;
   top: 160px;
   left: 110px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../images/hero/coin-deposit-mob.png);
   @include retina {
      background-image: url(../images/hero/coin-deposit-mob-2x.png);
   }

   @include desktop {
      height: 50px;
      width: 50px;
      top: 268px;
      left: 172px;
      background-image: url(../images/hero/coin-deposit-desk.png);
      @include retina {
         background-image: url(../images/hero/coin-deposit-desk-2x.png);
      }
   }
}
