.payment {
   margin-top: 44px;

   @include desktop {
      margin-top: 180px;
   }
}

.title {
   font-size: 30px;
   line-height: 1.23;
   text-align: center;
   color: $greenСolor;
   margin-bottom: 41px;

   @include desktop {
      font-size: 36px;
   }
}

.payment__list {
   display: flex;
   justify-content: center;
   gap: 22px;
   flex-wrap: wrap;
   max-width: 335px;
   margin-left: auto;
   margin-right: auto;

   @include desktop {
      gap: 30px;
      max-width: 938px;
   }
}

.payment__list--item-method {
   flex-basis: calc((100% - 22px) / 2);

   @include desktop {
      flex-basis: calc((100% - 90px) / 4);
   }
}

.payment__list--item-method::before {
   display: block;
   height: 78px;
   width: 156px;
   content: '';
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   backdrop-filter: blur(8px);
	

   @include desktop {
      height: 104px;
      width: 212px;
   }
}

.payment__list--item-method:nth-child(1)::before {
   background-image: url(../images/payments/pay-systems-icons/apple-pay.svg);
}

.payment__list--item-method:nth-child(2)::before {
   background-image: url(../images/payments/pay-systems-icons/visa.svg);
}

.payment__list--item-method:nth-child(3)::before {
   background-image: url(../images/payments/pay-systems-icons/mastercard.svg);
}

.payment__list--item-method:nth-child(4)::before {
   background-image: url(../images/payments/pay-systems-icons/bitcoin.svg);
}

.bg-gradient-rect {
   position: relative;
   z-index: -1;
   top: -123px;
   width: 100%;
   height: 414px;
   background: linear-gradient(
      180deg,
      rgba(255, 107, 24, 0.3) -21.36%,
      rgba(255, 175, 26, 0) 81.73%
   );
   border-radius: 30px;

   @include desktop {
      top: -28px;
   }
}
