.steps {
   position: relative;
   margin-top: -356px;
   margin-bottom: -80px;
   @include desktop {
      margin-bottom: 156px;
   }
}

.steps__list {
   @include desktop {
      display: flex;
   }
}

.steps__list--item {
   margin-left: auto;
   margin-right: auto;
   width: 261px;
   letter-spacing: -1.07636px;
   text-transform: uppercase;
   text-align: center;
}

.steps__list--item:nth-child(odd)::before {
   display: block;
   height: 186px;
   content: '';
   background-position: center;
   background-repeat: no-repeat;
}

.steps__list--item:nth-child(1)::before {
   background-image: url(../images/payments/pay-steps/step1.png);
}

.steps__list--item:nth-child(3)::before {
   background-image: url(../images/payments/pay-steps/step2.png);
}

.steps__list--item:nth-child(5)::before {
   background-image: url(../images/payments/pay-steps/step3.png);
}

.steps__list--item::after {
   display: block;

   height: 35px;
   content: '';
   background-position: center;
   background-repeat: no-repeat;
   transform: rotate(90deg);
   @include desktop {
      transform: none;
      margin-top: 96px;
   }
}

.steps__list--item:nth-child(even)::after {
   background-image: url(../images/payments/pay-steps/arrows.svg);
}

.text-step {
   font-size: 30px;
   line-height: 1.81;
   color: $greenСolor;
}

.text-about {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.25;
   color: $greyTextColor;
}

.ellipse {
   margin-top: -834px;
   margin-left: 221px;
   width: 135px;
   height: 954px;
   border-radius: 50%;
   background: linear-gradient(200.9deg, #ff0de7 7.22%, #d901a9 77.8%);
   opacity: 0.24;
   filter: blur(112px);

   @include desktop {
      margin-left: auto;
      margin-right: auto;
      margin-top: -300px;
      width: 934px;
		height: 406px;
      filter: blur(150px);
   }
}

.btn-hero.end {
   display: none;

   @include desktop {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: -120px;
   }
}
